* {
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  text-align: center;
}

.row_middle {
  display: flex;
  flex: 1;
}

.row_middle > .column_middle {
  flex: 1;
}

.row_middle > div.column_left, .row_middle > div.column_right {
  flex: 0 0 20vw;
}

.row_middle > div.column_left {
  order: -1;
}

.row_top, .row_bottom {
  height: 15vh;
  display: flex;
}

.row_top, .row_bottom, .column_middle, .column_left, .column_right {
  padding: 1em;
}

.row_top, .row_bottom, .column_left, .column_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

video, canvas {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.btn {
  border: none;
  cursor: pointer;
  background-image: url(/images/btn-camera.svg);
  height: 65px;
  width: 65px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: unset;
}

.btn:hover {
  opacity: 0.5;
  background-color: unset;
}

h1, h2, p.data {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1;
}

h1, h2 {
  font-size: 1em;
  margin-bottom: 0.5em;
}

p.data {
  font-size: 2.5em;
  margin-bottom: 1.5em;
}

p.data > sup {
  font-size: 0.5em;
}
